{% extends "base.html" %}
{% block title %}Eurovision {{year}}{% endblock %}
{% block content %}
<section class="contenedor">
    <h1>Detalles de Eurovision {{year}}</h1>
        <table>
            <thead>
                <tr>
                    <th class="detalles"><h2>Año:</h2></th>
                    <th class="detalles"><h2>Ciudad:</h2></th>
                    <th class="detalles"><h2>Recinto:</h2></th>
                {% if elemento.img %}
                    <th class="detalles"><h2>Logo:</h2></th>
                {% endif %}
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="detalles">{{elemento.year}}</td>
                    <td class="detalles">{{elemento.ciudad}}</td>
                    <td class="detalles">{{elemento.recinto}}</td>
                {% if elemento.img %}
                    <td class="detalles"><a href="{{elemento.img}}" target="_blank"><img class="img-small" src="{{elemento.img}}"></a></td>
                {% endif %}
                </tr>
            </tbody>
        </table>
        <h4>En Eurovision {{year}} participaron {{elemento.participantes}} concursantes.</h4>
            <table>
                <thead>
                    <tr>
                        <th>Participante</th>
                        <th>Canción</th>
                        <th>País</th>
                    </tr>
                </thead>
                <tbody>
                        {% for concursante in elemento.lista %}
                    <tr>
                        <td><a href="/concursante?year={{year}}&nombre={{concursante.nombre}}">{{concursante.nombre}}</a></td>
                        <td>{{concursante.cancion}}</a></td>
                        <td>{{concursante.pais}}</td>
                    </tr>
                        {% endfor %}
                </tbody>
            </table>
        <a href="/buscador"><button type="submit">Volver al buscador</button></a>
</section>
{% endblock%}