{% extends "base.html" %}
{% block title %}Resultados de búsqueda{% endblock %}
{% block content %}
<section class="contenedor">
    {% if seleccionado == 0 %}
    <h2>Ediciones de Eurovision que coinciden con el término de búsqueda: "{{ciudad}}" en todos los años</h2>
    {% else %}
    <h2>Ediciones de Eurovision que coinciden con el término de búsqueda: "{{ciudad}}" en el año {{seleccionado}}</h2>
    {% endif %}
    {% if lista %}
    <table>
        <thead>
            <tr>
                <th>Ciudad</th>
                <th>Año</th>
                <th>Recinto</th>
                <th>Nº de participantes</th>
            </tr>
        </thead>
        <tbody>
                {% for elemento in lista %}
            <tr>
                <td>{{elemento.ciudad}}</td>
                <td><a href="/detalle?year={{elemento.year}}">{{elemento.year}}</a></td>
                <td>{{elemento.recinto}}</td>
                <td>{{elemento.participantes}}</td>
            </tr>
                {% endfor -%}
        </tbody>
    </table>
    {% else %}
        {% if seleccionado == 0 %}
        <p>No hay datos para el término de búsqueda "{{ciudad}}" en el año {{seleccionado}}.</p>
        {% else %}
        <p>No hay datos para el término de búsqueda "{{ciudad}}" en todos los años.</p>
        {% endif %}
    {% endif %}
</section>
{% endblock %}